:root {
  --white: 0 0% 100%;
  --dark-blue: 240 67% 8%;
  --light-gray-blue: 240 17% 26%;
  --light-gray: 240 6% 54%;

  --light-cyan: 194 48% 49%;
  --light-orange: 33 82% 61%;
  --dark-purple: 263 67% 65%;
  --light-orangered: 10 63% 51%;

  --dark-orangered: 2 68% 53%;
  --dark-orange: 17 73% 46%;
  --dark-cyan: 169 73% 44%;
  --dark-lightblue: 222 87% 56%;
  --ff-anton: "Antonio", sans-serif;
  --ff-league: "League Spartan", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100dvh;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: var(--ff-anton);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  font-family: "Poppins", sans-serif;
  color: hsl(var(--white));
  background-color: hsl(var(--dark-blue));
  background-image: url(./assets/background-stars.svg);
}
h1,
h2 {
  font-weight: 700;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  pointer-events: none;
}
p {
  max-width: 62ch;
  text-wrap: pretty;
  margin-bottom: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
/* --------------------------------------------------------Nav */
nav {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--ff-anton);
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.brand {
  font-size: 3rem;
  padding-left: 1rem;
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
}
/* --------------------------------------------------------HAMBURGER MENU */
#desktop-nav {
  display: none;
}
.hamburger-icon {
  top: 0;
  right: 0;
  width: 3rem;
  height: 2rem;
  margin: 1.5rem 1rem;
  display: flex;
  cursor: pointer;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(var(--dark-blue));
}
.hamburger-icon span {
  height: 2px;
  z-index: 10;
  background-color: hsl(var(--white));
  transition: all 0.3s ease-in-out;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(1rem, 0.2rem);
  background-color: hsl(var(--white));
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(1rem, -0.2rem);
  background-color: hsl(var(--white));
}
.menu-links {
  top: 0;
  right: 0;
  z-index: 9;
  max-height: 0;
  overflow: scroll;
  position: absolute;
  background: transparent;
  /* background-image: linear-gradient(180deg, #12a7e2, hotpink); */
  background-color: hsl(var(--dark-blue));
  transform: translateX(70rem);
}
.menu-links.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  min-height: 100dvh;
  padding: 1rem;
  transform: translateX(0px);
  transition: all 0.3s ease-out;
}
.menu-links li { 
  width: 100%; 
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-links li a {
  font-family: var(--ff-league);
  text-transform: capitalize;
  display: block;
  padding: 1rem;
  color: hsl(var(--white));
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-links li a img {
  max-width: 3rem;
}
.planet-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.greaterThan-icon { width: 1rem; }
/* --------------------------------------------------------Desktop Nav */
.nav-links {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 2rem;
}
.nav-links a {
  padding: 0.5rem 1rem;
  color: hsl(var(--white));
}
/* ---------------------------------------------------------Mobile Nav */
@media (hover: hover) {
  .menu-links a:hover {
    border-radius: 1rem;
    border: 2px solid hsl(var(--white));
    transition: all ease-in 200ms;
  }
  /* .menu-links li { border: 0; } */
}
@media (hover: none) {
  .menu-links a:active {
    border-radius: 1rem;
    border-bottom: none;
    border: 2px solid hsl(var(--light-gray));
    transition: all ease-in 200ms;
  }
  /* .menu-links li { border: 0; } */
}
/* --------------------------------------------------------Desktop Nav */
@media (hover: hover) {
  .nav-links a:hover {
    color: hsl(var(--white));    
    background-color: hsl(var(--dark-purple));
    transition: all ease-in 200ms;
    border: 1px solid hsl(var(--dark-purple));
  }
}
@media (hover: none) {
  .nav-links a:active {
    color: hsl(var(--white));
    background-color: hsl(var(--dark-purple));
    transition: all ease-in 200ms;
    border: 1px solid hsl(var(--dark-purple));
  }
}
/* -------------------------------------main */
main {
  width: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-areas: "head" "img" "txt" "info";
}
header { grid-area: head; }
.img-div { grid-area: img; }
.text-div { grid-area: txt; }
.info-div { grid-area: info; }
/* ----------------------------------------------header */
header {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header > button {
  border: 0;
  padding: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--ff-anton);
  background-color: transparent;
  color: hsl(var(--white));
  border-bottom: 4px solid transparent;
  cursor: pointer;
}
header button span {
  display: none;
}
button.active {  
  border-bottom: 4px solid hsl(var(--dark-purple));
}
/* -------------------------------------Hero */
.hero-img {
  width: 80%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  /* height: 25dvh; */
  margin: 4rem auto;  
}
/* 
.img-div { 
  position: relative; 
  border: 1px solid red;
} 
*/
.img-div {
  position: relative;
}
#surface-img {
  position: absolute;
  width: 60%;
  max-width: 226px;
  max-height: 226px;
  aspect-ratio: 1 / 2;
  bottom: 2rem;
  right: 0;
  left: 0;
}
/* ----------------------------------------------Text */
.text-div {
  width: 90%;
  margin: auto;
}
.title {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: var(--ff-anton);
}
.description {
  text-wrap: pretty;
  margin: 2rem auto;
  font-size: 1.35rem;
  color: hsl(var(--light-gray));
  font-family: var(--ff-league);
}
#planet-source > a {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 2.5rem;
  color: hsl(var(--light-gray));
  font-family: var(--ff-league);
  font-weight: 100;
}
#planet-source > a > span {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 2.5rem;  
  color: darkgray;
  text-decoration: underline;
}
.source-icon {
  width: 1.5rem;
  height: 2rem;
  display: inline-block;
}
/* -------------------------------------info-div */
.info-div {
  width: 90%;
  margin: 2rem auto;
}
.info-div li {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 700;
  margin: 2rem auto;
  padding: 1rem 2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(var(--light-gray));
  font-family: var(--ff-league);
  border: 2px solid hsl(var(--light-gray-blue));
}
.info-div li span {  
  font-size: 2rem;
  font-weight: 100;
  color: hsl(var(--white));
  font-family: var(--ff-anton);
}
/* -------------------------------------Tablet */
@media (min-width: 768px) {
  #hamburger-nav {
    display: none;
  }
  #desktop-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    background-color: transparent;
    font-size: 2rem;
  }
  main {
    gap: 4rem;
    width: 90%;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "img img" "txt head" "info info";    
  }
  header {
    gap: 2rem;
    border: 0;
    align-items: center;
    justify-content: end;
    flex-direction: column;
  }
  header button {
    width: 100%;
    font-size: 2rem;
    text-align: left;
    font-weight: 500;
    font-family: var(--ff-anton);
    border: 1px solid hsl(var(--light-gray));
  }
  header button:nth-child(2) span::after {
    content: "internal";
    margin-left: .5rem;
    color: hsl(var(--white));
  }
  header button:nth-child(3)::after {
    content: "geology";
    margin-left: .5rem;
    color: hsl(var(--white));
  }
  header button span {
    display: inline-block;
    color: hsl(var(--light-gray));
  }  
  header button.active {
    border: 0;
    background-color: #6D2ED5;
  }
  .hero-img { max-width: 400px; }
  #surface-img {
    width: 60%;
    max-height: 250px;
    aspect-ratio: 1 / 2;
  }
  .text-div {    
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .description {
    font-size: 2rem;
  }
  .info-div {
    margin: auto;
    margin-top: -2rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
  }
  .info-div li {
    width: 100%;
    align-items: start;
    flex-direction: column;
    padding: 1rem;
  }
  .info-div li span {
    font-size: 3rem;
  }  
}
@media (min-width:1024px) { 
  #desktop-nav {
    flex-direction: row;
  }
  .nav-links li a {
    font-size: 2rem;
    border: 0;
  }
  body {
    gap: 2rem;
    justify-content: end;
  }
  main {
    min-height: 100dvh;
    max-width: 1200px;
    align-items: start;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr .5fr .5fr;
    grid-template-areas: 
    "img txt"
    "img head"
    "info info"
    ;
  }
  .hero-img { 
    max-height: 100%;
    height: 60dvh; 
    align-self: center; 
    max-width: 100%;
  }
  #surface-img {
    width: 80%;
    height: 80%;
    max-width: 300px;
    max-height: 300px;
  }
  .info-div {
    margin: 0 auto;
  }
}


.d-none { display: none; }