:root {
  --white: 0 0% 100%;
  --dark-blue: 240 67% 8%;
  --light-gray-blue: 240 17% 26%;
  --light-gray: 240 6% 54%;

  --light-cyan: 194 48% 49%;
  --light-orange: 33 82% 61%;
  --dark-purple: 263 67% 65%;
  --light-orangered: 10 63% 51%;

  --dark-orangered: 2 68% 53%;
  --dark-orange: 17 73% 46%;
  --dark-cyan: 169 73% 44%;
  --dark-lightblue: 222 87% 56%;
  --ff-anton: "Antonio", sans-serif;
  --ff-league: "League Spartan", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;  
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: .5rem; 
  border-radius: 1rem;
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;  
  background: hsl(var(--white));
}
body {
  min-height: 100dvh;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: var(--ff-anton);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  font-family: "Poppins", sans-serif;
  color: hsl(var(--white));
  background-color: hsl(var(--dark-blue));
  background-image: url(./assets/background-stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  pointer-events: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
/* --------------------------------------------------------Nav */
header {
  width: 100%;
  height: 100%;
}
nav {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: var(--ff-anton);
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.brand {
  font-size: calc(2.5rem + 1dvw);
  padding-left: 1rem;
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
  position: relative;
  z-index: 10;
}
/* --------------------------------------------------------HAMBURGER MENU */
#desktop-nav {
  display: none;
}
#hamburger-nav {
  padding: 1rem;
}
.hamburger-icon {
  top: 0;
  right: 0;
  position: absolute;
  width: calc(3rem + 1dvw);
  height: calc(1.5rem + 1dvh);
  cursor: pointer;
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(var(--dark-blue));
}
.hamburger-icon span {
  height: .4rem;
  border-radius: .5rem;
  z-index: 10;
  background-color: hsl(var(--white));
  transition: all 0.3s ease-in-out;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(1rem, 0.2rem);
  background-color: hsl(var(--white));
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(1rem, -0.2rem);
  background-color: hsl(var(--white));
}
.menu-links {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 9;
  width: 100%;
  padding: 1rem;
  gap: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  justify-content: start;
  justify-content: center;
  transform: translateX(170rem);
  background-color: hsl(var(--dark-blue));
  transition: all 0.5s ease-out;
}
.menu-links.open {
  min-height: 100%;
  transform: translate(0px);
}
.menu-links li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-links li a {
  font-family: var(--ff-league);
  text-transform: capitalize;
  display: block;
  padding: 1rem;
  color: hsl(var(--white));
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
  text-decoration: none;
  gap: 1rem;
  display: flex;
  align-items: center;
  border-left: 4px solid transparent;
  justify-content: space-between;
  transition: all ease-in 200ms;
}
.menu-links li a img {
  max-width: 3rem;
}
.planet-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.greaterThan-icon {
  width: 1rem;
}
/* -------------------------------------Mobile Nav */
@media (hover: hover) {
  .menu-links > li:nth-child(1) > a:hover {
    border-color: hsl(var(--light-cyan));
  }
  .menu-links > li:nth-child(2) > a:hover {
    border-color: hsl(var(--light-orange));
  }
  .menu-links > li:nth-child(3) > a:hover {
    border-color: hsl(var(--dark-purple));
  }
  .menu-links > li:nth-child(4) > a:hover {
    border-color: hsl(var(--dark-orange));
  }
  .menu-links > li:nth-child(5) > a:hover {
    border-color: hsl(var(--dark-orange));
  }
  .menu-links > li:nth-child(6) > a:hover {
    border-color: hsl(var(--dark-orangered));
  }
  .menu-links > li:nth-child(7) > a:hover {
    border-color: hsl(var(--dark-cyan));
  }
  .menu-links > li:nth-child(8) > a:hover {
    border-color: hsl(var(--dark-lightblue));
  }
}
@media (hover: none) {
  .menu-links > li:nth-child(1) > a:active {
    border-color: hsl(var(--light-cyan));
  }
  .menu-links > li:nth-child(2) > a:active {
    border-color: hsl(var(--light-orange));
  }
  .menu-links > li:nth-child(3) > a:active {
    border-color: hsl(var(--dark-purple));
  }
  .menu-links > li:nth-child(4) > a:active {
    border-color: hsl(var(--dark-orange));
  }
  .menu-links > li:nth-child(5) > a:active {
    border-color: hsl(var(--dark-orange));
  }
  .menu-links > li:nth-child(6) > a:active {
    border-color: hsl(var(--dark-orangered));
  }
  .menu-links > li:nth-child(7) > a:active {
    border-color: hsl(var(--dark-cyan));
  }
  .menu-links > li:nth-child(8) > a:active {
    border-color: hsl(var(--dark-lightblue));
  }
}
/* -------------------------------------main */
main {
  gap: 2rem;
  width: 100%;
  display: grid;  
  text-align: center;
  align-items: center;
  margin: 0 auto 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "btn-div" "img" "txt" "info";
}
.btn-div {
  grid-area: btn-div;
}
.img-div {
  grid-area: img;
}
.text-div {
  grid-area: txt;
}
.info-div {
  grid-area: info;
}
/* ----------------------------------------------overview .btn-div */
.btn-div {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.btn-div > button {
  border: 0;
  padding: 1rem;
  font-size: calc(1.2rem + 1dvw);
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-family: var(--ff-league);
  font-family: var(--ff-anton);
  background-color: hsl(var(--dark-blue));
  color: hsl(var(--white) / .5);
  border-bottom: 4px solid transparent;
  cursor: pointer;
}
.btn-div > button > span {
  display: none;
}
.btn-div > button.active {
  color: hsl(var(--white));
  border-bottom: 4px solid hsl(var(--dark-purple));
}
.btn-div > button:hover {
  border-color: hsl(var(--light-gray-blue));
}
/* ----------------------------------------------planet specific color */
.btn-div.mercury > button.active {
  border-color: hsl(var(--light-cyan));
}
.btn-div.venus > button.active {
  border-color: hsl(var(--light-orange));
}
.btn-div.earth > button.active {
  border-color: hsl(var(--dark-purple));
}
.btn-div.mars > button.active {
  border-color: hsl(var(--dark-orange));
}
.btn-div.jupiter > button.active {
  border-color: hsl(var(--dark-orange));
}
.btn-div.saturn > button.active {
  border-color: hsl(var(--dark-orangered));
}
.btn-div.uranus > button.active {
  border-color: hsl(var(--dark-cyan));
}
.btn-div.neptune > button.active {
  border-color: hsl(var(--dark-lightblue));
}
/* -------------------------------------img div*/
.img-div {
  min-height: 25dvh;
  margin: 4rem auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#surface-img {
  position: absolute;
  max-width: 50%;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
/* ----------------------------------------------planet specific size */
.img-div.mercury > img {
  max-width: 111px;
}
.img-div.venus > img {
  max-width: 154px;
}
.img-div.earth > img {
  max-width: 173px;
}
.img-div.mars > img {
  max-width: 129px;
}
.img-div.jupiter > img {
  max-width: 224px;
}
.img-div.saturn > img {
  max-width: 256px;
}
.img-div.uranus > img {
  max-width: 176px;
}
.img-div.neptune > img {
  max-width: 173px;
}
/* ----------------------------------------------Text */
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.text-div {
  width: 90%;
  margin: auto;
}
.planet-text > .title {
  text-transform: uppercase;
  font-size: calc(5rem + 1dvw);
  font-family: var(--ff-anton);
}
.planet-text > .description {
  max-width: 62ch;
  text-wrap: stable;
  font-size: calc(1.1rem + 1dvw);
  color: hsl(var(--white) / 0.6);
  font-family: var(--ff-league);
}
#planet-source {
  display: flex;
  gap: 0.5rem;
  font-weight: 100;
  text-transform: capitalize;
  font-family: var(--ff-league);
  font-size: 2rem;
  color: hsl(var(--light-gray) / 0.59);
}
#planet-source > a {
  color: hsl(var(--light-gray) / .9);
  font-weight: 700;
  display: flex;
  align-items: center;
  text-decoration: underline;
  gap: 0.5rem;
}
.source-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}
/* -------------------------------------info-div */
.info-div {
  width: 90%;
  gap: 0.8rem;
  margin: 0 auto 2rem;
  align-items: center;
}
.info-div > li {
  width: 100%;
  font-size: 1.2rem;
  font-size: calc(1.2rem + .4dvw);
  font-weight: 100;
  padding: 1rem 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(var(--light-gray));
  background-color: hsl(var(--dark-blue));
  font-family: var(--ff-league);
  font-family: var(--ff-anton);
  border: 1px solid hsl(var(--light-gray-blue));
}
.info-div > li > span {
  font-size: 2rem;
  font-size: calc(2rem + 1dvw);
  font-weight: 100;
  color: hsl(var(--white));
}
/* -------------------------------------Tablet */
@media (min-width: 768px) {
  #hamburger-nav {
    display: none;
  }
  #desktop-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    font-size: 2rem;
  }
  /* --------------------------------------------------------Desktop Nav */
  .nav-links {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 2rem;
  }
  .nav-links a {
    font-size: calc(1.5rem + 1dvw);
    padding: 0.5rem 1rem;
    color: hsl(var(--white));
    border-top: 5px solid transparent;
    transition: all ease-in 200ms;
  }
  @media (hover: hover) {
    body.mercury .nav-links a:hover {
      border-color: hsl(var(--light-cyan));
    }
    body.venus .nav-links a:hover {
      border-color: hsl(var(--light-orange));
    }
    body.earth .nav-links a:hover {
      border-color: hsl(var(--dark-purple));
    }
    body.mars .nav-links a:hover {
      border-color: hsl(var(--dark-orange));
    }
    body.jupiter .nav-links a:hover {
      border-color: hsl(var(--dark-orange));
    }
    body.saturn .nav-links a:hover {
      border-color: hsl(var(--dark-orangered));
    }
    body.neptune .nav-links a:hover {
      border-color: hsl(var(--dark-lightblue));
    }
    body.uranus .nav-links a:hover {
      border-color: hsl(var(--dark-cyan));
    }
  }
  @media (hover: none) {
    body.mercury .nav-links a:active {
      border-color: hsl(var(--light-cyan));
    }
    body.venus .nav-links a:active {
      border-color: hsl(var(--light-orange));
    }
    body.earth .nav-links a:active {
      border-color: hsl(var(--dark-purple));
    }
    body.mars .nav-links a:active {
      border-color: hsl(var(--dark-orange));
    }
    body.jupiter .nav-links a:active {
      border-color: hsl(var(--dark-orange));
    }
    body.saturn .nav-links a:active {
      border-color: hsl(var(--dark-orangered));
    }
    body.neptune .nav-links a:active {
      border-color: hsl(var(--dark-lightblue));
    }
    body.uranus .nav-links a:active {
      border-color: hsl(var(--dark-cyan));
    }
  }
  main {
    gap: 4rem;
    max-width: 90%;
    min-height: 90dvh;
    align-items: center;
    align-items: end;
    justify-content: start;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "img img" "txt btn-div" "info info";
  }
  .btn-div {
    gap: 2rem;
    border: 0;
    align-items: center;
    justify-content: end;
    flex-direction: column;
  }
  .btn {
    gap: 1rem;
    display: flex;
    align-items: center;
  }
  .btn-div > button {
    width: 100%;
    font-size: 2rem;
    text-align: left;
    font-weight: 500;
    color: hsl(var(--white));
    border: 1px solid hsl(var(--light-gray-blue) );
  }
  .btn-div > button > span {
    color: hsl(var(--light-gray));
  }
  .btn-div > button:nth-child(2) > p::before {
    content: "internal ";
  }
  .btn-div > button:nth-child(3) p::after {
    content: " geology";
  }
  .btn-div > button > span {
    display: inline-block;
    color: hsl(var(--white) / 0.6);
  }
  .btn-div > button.active {
    border: 0;
    background-color: hsl(var(--dark-purple));
  }
  .btn-div > button:hover {
    border: 0;
    background-color: hsl(var(--light-gray-blue));
  }
  /* ----------------------------------------------planet specific color */
  .btn-div.mercury > button.active {
    background-color: hsl(var(--light-cyan));
  }
  .btn-div.venus > button.active {
    background-color: hsl(var(--light-orange));
  }
  .btn-div.earth > button.active {
    background-color: hsl(var(--dark-purple));
  }
  .btn-div.mars > button.active {
    background-color: hsl(var(--dark-orange));
  }
  .btn-div.jupiter > button.active {
    background-color: hsl(var(--dark-orange));
  }
  .btn-div.saturn > button.active {
    background-color: hsl(var(--dark-orangered));
  }
  .btn-div.uranus > button.active {
    background-color: hsl(var(--dark-cyan));
  }
  .btn-div.neptune > button.active {
    background-color: hsl(var(--dark-lightblue));
  }
  /* ----------------------------------------------planet specific size */
  .img-div.mercury > img {
    max-width: 184px;
  }
  .img-div.venus > img {
    max-width: 253px;
  }
  .img-div.earth > img {
    max-width: 285px;
  }
  .img-div.mars > img {
    max-width: 213px;
  }
  .img-div.jupiter > img {
    max-width: 369px;
  }
  .img-div.saturn > img {
    max-width: 422px;
  }
  .img-div.uranus > img {
    max-width: 290px;
  }
  .img-div.neptune > img {
    max-width: 285px;
  }
  /* ----------------------------------------------text */
  .text-div {
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
  }
  .planet-text {
    align-items: start;
  }
  .planet-text > .description {
    font-size: 2rem;
    font-size: calc(1.5rem + .3dvw);
  }  
  .info-div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
  }
  .info-div li {
    width: 100%;
    align-items: start;
    flex-direction: column;
    padding: 1rem;
  }
}
/* --------------------------------------------------------Desktop Nav */
@media (min-width: 1024px) {
  #desktop-nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-links {
    margin: 1rem;
  }
  .nav-links li a {
    padding-top: .5rem;
  }
  main {
    margin: 1rem auto 2rem;
    align-items: center;
    justify-content: start;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr .5fr .2fr;
    gap: 2rem;
    grid-template-areas:
      "img txt"
      "img btn-div"
      "info info";
  }
  .text-div,
  .btn-div,
  .info-div, .img-div {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  /* ----------------------------------------------planet specific size */
  .img-div.mercury > img {
    max-width: 29rem;
  }
  .img-div.venus > img {
    max-width: 40rem;
  }
  .img-div.earth > img {
    max-width: 45rem;
  }
  .img-div.mars > img {
    max-width: 33.6rem;
  }
  .img-div.jupiter > img {
    max-width: 58.2rem;
  }
  .img-div.saturn > img {
    max-width: 66.609rem;
  }
  .img-div.saturn > img {
    max-width: 60rem;
  }
  .img-div.uranus > img {
    max-width: 45.8rem;
  }
  .img-div.neptune > img {
    max-width: 45rem;
  }
}
@media (min-width:1200px) {
  main {
    max-width: 80%;
  }
}
.d-none {
  display: none;
}

